/* img {
    margin: 100px;
} */

body, html {
    height: 100%;
}

.banner {
    background-image: url("/images/rmh_new_house.png");
    mix-blend-mode: multiply;
    filter: blur(7px) brightness(30%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-15%, 50%);
    color: white;
}

.banner-text h1 {
    font-size: 1500%;
}