extends layout

block content

  p(class="title-block")
    span(class="count") Count: 
      span(id="count") 0
    span(class="round") Round: 
      span(id="round") loading...

  p(class="btn-block")
    button(class="btn-b btn-lg smooth", id="btnAddOne")
        span(class="font-large") +
  //- p(class="btn-block")
  //-    button(class="btn-c btn-lg smooth", id="btnSubtractOne")
  //-       span(class="font-large") -

  script.
    var theCount = 0;
    var theRound = "#{round}";

    $('#round').text(accounting.formatMoney(theRound, { precision: 0 }));
    
    $(function() {
      $('#btnAddOne').click(function(event) {
        event.preventDefault();
        $.post('/clicker/addOne', {}, function(resp) {
          updateCount(++theCount);
        });
      });
      //- $('#btnSubtractOne').click(function(event) {
      //-   event.preventDefault();
      //-   $.post('/clicker/subtractOne', {}, function(resp) {
      //-     if(theCount > 0) {
      //-       updateCount(--theCount);
      //-     }
      //-   });
      //- });
      setInterval(function() {
        $.get('/admin/currentRound', function(resp) {
          if(resp.currRound != theRound) { //new round seen
            updateRound(resp.currRound);
            updateCount(0);
          }
        });
      }, 5000);
    });

    function updateCount(count) {
      theCount = count;
      $('#count').text(theCount);
    }

    function updateRound(round) {
       theRound = round;
       $('#round').text(accounting.formatMoney(theRound, { precision: 0 }));
    }

    $('.no-zoom').bind('touchend', function(e) {
      e.preventDefault();
      // Add your code here. 
      $(this).click();
      // This line still calls the standard click event, in case the user needs to interact with the element that is being clicked on, but still avoids zooming in cases of double clicking.
    });
