.title-block {
  margin-bottom: 50px;
}

.btn-block button {
  width: 100%;
  margin: 0;
}

.font-large {
  font-size: 8em;
}

.count {
  font-size: 2.5em;
}

.round {
  margin-left: 50px;
  font-size: 1.5em;
}