extends layout

block content
  h1=title
   
  h2 Round: $#{round}

  button(class="btn btn-a btn-lg smooth") Previous Round
  button(class="btn btn-a btn-lg smooth") Next Round

  h2 Total Donations: $#{totalDonations}