extends layout

block content
  h1 Round: $#{round}

  h2 Count: 
    span 3
  p(class="btn-block")
    button(class="btn-b btn-lg smooth")
        span(class="font-large") +
  p(class="btn-block bottom")
     button(class="btn-c btn-lg smooth")
        span(class="font-large") -

    