extends layout

block content
  div(class="banner")
  div(class="banner-text")
    //- img(src="/images/RMHC_baltimore_logo.jpg")
    h1 Total Funds Raised: $
      span(class="total-donations") 0

  script.
    var currTotal = 0;
    var prevTotal = 0;
    setInterval(function(){
      //poll to get updated current total
      $.get('/clicker/currentTotal', {}, function(resp) {
        prevTotal = currTotal;
        currTotal = resp.currentTotal;

        if(currTotal > prevTotal) { // if there's been a change in the total, let's animate
          var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
          $('.total-donations').prop('number', prevTotal).animateNumber(
            {
              number: currTotal,
              numberStep: comma_separator_number_step
            },
            5000 //animation duration
          );
        }
      });
    }, 8000);

  