doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/min/entireframework.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/clicker.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
  body
    block content
