doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/entireframework.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/clicker.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/accounting.min.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

  body
    block content
